@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #243147;
  /* --primary-color: #048996; */
  --bg-secondary: #e2e8f0;
  --primary: #048996;
  --color-text: #4b5563;
}

.dark {
  --background: #010418;
  --bg-secondary: #1e202e;
  --foreground: #ffffff;
  /* --primary-color: #00d1b2; */
  --primary: #048996;
  --color-text: #9ca3af;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajout d'une classe pour s'assurer que le texte prend la couleur du foreground */
.text-foreground {
  color: var(--color-text);
}

.pulse {
  border-radius: 50%;
  background: #048996;
  box-shadow: 0 0 0 0 #04899680;
  animation: pulse-kefe91md 1.5s infinite linear;
  position: relative;
}

.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #04899680;
  animation: inherit;
  animation-delay: -0.5s;
}

.pulse:after {
  animation-delay: -1s;
}

@keyframes pulse-kefe91md {
  100% {
    box-shadow: 0 0 0 44.8px #0000;
  }
}
